/*universal*/
*{
    overflow-x: hidden;
    background-color: white;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
}
 
/*Styling for header*/
header h1{
    background-color: #7c3f58;
    font-family: "Rubik Mono One", monospace;
    font-size: 40px;
    text-align: center;
    border-color: #7c3f58;
    border-radius: 10px;
    padding: 15px;
    margin:auto
}

/*Styling for hero and description*/
#herocontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#herocontainer img{
    flex-shrink: 0;
}
#herocontent{
    white-space: normal;
    text-align: justify;
    font-size: 20px;
    padding: 15px;
}

/*Styling for blog posts*/
#blog h2{
   font-family: "Rubik Mono One", monospace;
   text-align: center;
   font-size: 35px;
   background-color: #fff6d3;
   padding: 15px;
   border-radius: 10px;
   margin: auto;
}
#blogposts{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    padding: 15px;
}
.blogcontent{
    text-align: center;
    width: 30%;
}
.blogcontent img{
    width: 100%;
    height: auto;
}
.blogcontent .captions{
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    background-color: #fff6d3;
}

/*Styling for Comments*/
#comment h2{
    font-family: "Rubik Mono One", monospace;
    text-align: center;
    font-size: 35px;
    background-color: #eb6b6f;
    padding: 15px;
    border-radius: 10px;
    margin: auto;
}
#commentsection{
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    padding: 20px;
}
.comments p{
    border-radius: 10px;
    border-style: double;
    border-width: 5px;
    background-color: #f9a875;
    border-color: #eb6b6f;
    padding: 15px;
}

/*Styling for footer*/
footer p{
    background-color: #7c3f58;
    border-radius: 10px;
    text-align: center;
}

/*Media Query*/
@media (max-width: 768px) {
    #herocontainer {
        flex-direction: column; 
        text-align: center;
    }

    #blogposts {
        flex-direction: column; 
        align-items: center;
    }

    .blogcontent {
        width: 90%; 
    }

    #commentsection {
        flex-direction: column; 
        align-items: center;
    }
}
